<div class="card" style="background-color: rgba(60,63,65,0.44)">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="container">
      <p class="float-right">
        <a href="#">Volver a arriba</a>
      </p>
      <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Quienes Somos</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Somos una compañia X expertos en asesorias para la evaluación del riesgo psicosocial, para
              compañias en el territorio colombiano.</p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Enlaces de Interes</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#asesoria">Solicite su Asesoria</a>
            </p>

            <p>
              <a href="#importancia">Importancia Evaluación Riesgo Psicosocial</a>
            </p>
            <p>
              <a href="#factores">Factores a Evaluar</a>
            </p>
            <p>
              <a href="#ventajas">Ventajas</a>
            </p>
            <p>
              <a href="#resolucion">Normas Regulatorias</a>
            </p>

          </div>
          <!-- Grid column -->


          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contactenos</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fa fa-home mr-3"></i>Cali, Calle Falsa 123, CO</p>
            <p>
              <i class="fa fa-envelope mr-3"></i> compx@example.com</p>
            <p>
              <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
            <p>
              <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
      </div>
    </div>
  </div>
</div>
