<!--<mat-card>
  <mat-select placeholder="ciudad" (change)="onSelect($event)">
    <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
    {{ ciudad }}
    </mat-option>
  </mat-select>
</mat-card>-->
<div class="table-responsive">
  <table class="table  table-striped table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre:</th>
      <th scope="col">Apellidos:</th>
      <th scope="col">Telefono:</th>
      <th scope="col">Ciudad:</th>
      <th scope="col">Email:</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contacto of contactos">
      <th scope="row">{{ contacto.nombre }}</th>
      <td>{{ contacto.apellidos }}</td>
      <td>{{ contacto.telefono }}</td>
      <td>{{ contacto.ciudad }}</td>
      <td>{{ contacto.email }}</td>
      <td>
        <button mat-button (click)="onClick(contacto)" color="primary">Detalles</button>
      </td>
      <td>
        <button mat-button (click)="onEditar(contacto)" color="accent">Editar</button>
      </td>
      <td>
        <button mat-button (click)="onEliminar(contacto)" color="warn">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-lg-6"></div>
  <button type="submit" class="btn btn-success btn-lg btn-sm align-self-center" routerLink="">Home</button>
</div>

<!--<app-detalles [contacto]="contacto" (cerrar)="cerrarDetalles()"></app-detalles>-->
<!--<app-editar [contacto]="contactoEditar" (cerrar)="cerrarEdicion()"></app-editar>-->
<!--<app-footer></app-footer>-->
